body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #000;
}

.navbar-laravel {
  background-color: #fff;
  padding-bottom: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #000 !important;
  font-size: 25px;
  font-family: "FB Sloop Script Two";
  font-weight: bold;
  padding-bottom: 0px;
}

.nav-link {
  color: #000 !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #000;
  background-color: #fff;
}

.login-box {
  background-color: #fff;
}

.login-header {
  background-color: #fff;
}

.login-body {
  background-color: #fff;
}

.copyright {
  text-align: center;
}

.navigation li {
  background-color: #EEEEEE;
  float: left;
  padding: 13px 30px;
  text-align: center;
  list-style-type: none;
  height: 50px;
  font-size: 15px;
}

.navigation li a {
  color: #333;
  text-decoration: none;
}

.navigation:after {
  clear: both;
  display: block;
  content: " ";
}

.card-contents {
  padding: 40px;
  display: block;
  margin-bottom: 20px;
  background-color: #fff;
}

.container {
  width: 920px;
  margin: 0 auto 40px auto;
}

.posts .post {
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  padding: 40px;
}

.posts .post .date {
  font-size: 0.6em;
  color: #999999;
}

.posts .post .title {
  font-size: 1.2em;
  font-weight: bold;
}

.posts .post .body {
  font-size: 0.8em;
}

.posts .post .image img {
  width: 250px;
  float: left;
}

