body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #000;
}

.navbar-laravel {
  font-size: 13px;
  line-height: 1.5;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.HeaderBox {
  max-width: 970px;
  margin: 0 auto;
  padding: 8px 0;
}

.logoitem {
  float: left;
  width: 450px;
  margin: 5px 15px 0 0;
  font-size: 25px;
  font-weight: bold;
  font-family: "FB Sloop Script Two";
  text-decoration: none;
}

.login-action {
  display: flex;
  float: right;
  justify-content: flex-end;
  min-width: 340px;
  width: 42%;
  padding: 5px 0 0;
}

.nav-link {
  color: #000 !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #000;
  background-color: #fff;
}

.login-box {
  background-color: #fff;
}

.login-header {
  background-color: #fff;
}

.login-body {
  background-color: #fff;
}

.copyright {
  text-align: center;
}

.navigation {
  display: block;
  max-width: 970px;
  margin-top: 10px;
}

.navigation li {
  background-color: #EEEEEE;
  float: left;
  padding: 0 30px;
  text-align: center;
  list-style-type: none;
}

.navigation li a {
  color: #333;
  text-decoration: none;
}

.navigation:after {
  clear: both;
  display: block;
  content: " ";
}

.card-contents {
  padding: 40px;
  display: block;
  margin-bottom: 20px;
  background-color: #fff;
}

.container {
  width: 920px;
  margin: 0 auto 40px auto;
}

.posts .post .date {
  font-size: 0.6em;
  color: #999999;
}

.posts .post .title {
  font-size: 1.2em;
  font-weight: bold;
}

.posts .post .body {
  font-size: 0.8em;
}

.posts .post .image img {
  width: 250px;
}

